body {
  margin: 20;
  font-family: Arial, sans-serif;
  font-weight: bold;
  background-color: #fff8f0;
  color: #333;
}

header {
  background-color: #ffbb00df;
  padding: 20px;
  margin: 20px 20px 0 20px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: #ff7700 5px 5px;
}

h1 {
  color: white;
  margin-bottom: 8px;
  margin-top: 10px;
  padding: 10px;
  font-size: 50px;
}

h1 a {
  text-decoration: none;
  color: inherit;
}

.grid-navbar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 10px;
  justify-items: center;

}

.grid-navbar a {
  box-sizing: border-box;
  display: flex;
  width: 130px;
  background-color: #ffe082;
  padding: 10px 15px;
  border: 4px solid transparent;
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
  border-radius: 9px;
  text-decoration: none;
  font-size: 15px;
  color: #ff7700;
  text-align: center;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.grid-navbar a:hover {
  background-color: #ffab91;
  color: white;
  box-shadow: 0 0 8px 2px #ff7700;

}

.grid-parent {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  padding: 20px;
}

.grid-item {
  background-color: #ffccbc;
  color: #333;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  box-shadow: #ff7700 5px 5px;

}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f79d43cf;
  padding: 20px;
  text-align: center;
  font-weight: normal;
  border-radius: 5px;
  text-decoration: none;
  color: inherit;
  width: 100%;
  box-sizing: border-box;
  transition: background-color 0.3s ease;
}

.grid-item:hover {
  background-color: #ffd49b;
}

.grid-item img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 2px;
  margin-bottom: 10px;
}

.big-grid-item {
  background-color: #ffab91;
  padding: 20px;
}

.big-grid-item {
  text-decoration: none;

}

.big-grid-title {
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 15px;
  color: rgb(86, 3, 163);
}

.big-grid-subtext {
  font-size: 20px;
  font-weight: normal;
  color: #333;
  text-align: center;
  margin: 5px 0 10px 0;
  line-height: 30px;
}

.big-grid-item img {
  width: 100%;
  height: auto;
  border-radius: 2px;
  max-width: 500px;
  transition: width 0.3s ease;
}

.lonely-grid-item {
  background-color: #ffbb00df;
  font-style: italic;
  font-size: small;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.social-media img {
  width: 20px;
  height: 20px;
}

@media (min-width: 667px) and (max-width:1024px) {
  .grid-parent {
    grid-template-columns: repeat(2, 1fr);
  }

  .medium-grid-item {
    grid-column: span 1;
  }

  .big-grid-item,
  .lonely-grid-item {
    grid-column: span 2;
  }

  .grid-navbar {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 10px;
  }

  .grid-navbar a {
    width: 150px;

  }

  .grid-item img {
    max-width: 400px;
  }
}

@media (min-width: 1025px) {
  .grid-parent {
    grid-template-columns: repeat(4, 1fr);
  }

  .grid-navbar {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 20px;
  }

  .grid-navbar a {
    width: 160px;

  }

  .medium-grid-item {
    grid-column: span 1;
  }

  .big-grid-item,
  .lonely-grid-item {
    grid-column: span 4;
  }

  .grid-item img {
    max-width: 600px;
  }
}