body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-weight: bold;
  background-color: #fff8f0;
  color: #333;
}

header {
  background-color: #ffbb00;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: white;
  margin-bottom: 10px;
  padding: 10px;
}

.grid-navbar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 10px;
  justify-items: center;

}

.grid-navbar a {
  box-sizing: border-box;
  display: inline-block;
  width: 120px;
  background-color: #ffe082;
  padding: 10px 15px;
  border: 2px solid transparent;
  border-radius: 9px;
  text-decoration: none;
  color: #ff7700;
  text-align: center;
  transition: all 0.3s ease;
}

.grid-navbar a:hover {
  background-color: white;
  color: black;


}

.grid-parent {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  padding: 20px;
}

.grid-item {
  background-color: #ffccbc;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
}

.big-grid-item {
  background-color: #ffab91;
  padding: 40px;
}

.lonely-grid-item {
  background-color: #ffe0b2;
  font-style: italic;
  font-size: small;
}

@media (min-width: 600px) {

  .grid-navbar {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
  }


  .grid-navbar a {
    flex: 1 1 150px;
    width: 150px;

  }
}

.grid-parent {
  grid-template-columns: repeat(2, 1fr);
}

.medium-grid-item {
  grid-column: span 1;
}

.big-grid-item,
.lonely-grid-item {
  grid-column: span 2;
}
}


@media (min-width: 1000px) {
  .grid-parent {
    grid-template-columns: repeat(4, 1fr);
  }

  .medium-grid-item {
    grid-column: span 2;
  }

  .big-grid-item,
  .lonely-grid-item {
    grid-column: span 4;
  }

}